---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import CalendarIcon from '@icons/CalendarIcon.astro';
import CategoryIcon from '@icons/CategoryIcon.astro';
import { Image } from 'astro:assets';
import config from '@config/config.json';
import { slugify } from '@utils/slug';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage, categories, tags } = Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} blogpost>
  <article>
    <div class="mb-8 block overflow-hidden rounded-lg">
      {
        heroImage && (
          <figure class="h-auto w-auto object-cover md:h-[480px]">
            <Image
              class="transition duration-300 ease-in-out hover:scale-110"
              src={heroImage}
              alt={title}
              width={960}
              height={480}
              decoding="async"
              loading="lazy"
            />
          </figure>
        )
      }
    </div>
    <div class="md:col-10 mb-12 text-center">
      <h1 class="text-2xl font-bold md:text-4xl">{title}</h1>
      <div class="text-text mt-4 flex flex-wrap items-center justify-center text-zinc-800 dark:text-zinc-200">
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <figure>
            <Image
              alt={config.author.name}
              class="mr-2 h-6 w-6 rounded-full"
              width={50}
              height={50}
              src={config.author.avatar}
              decoding="async"
              loading="lazy"
            />
          </figure>
          <span>{config.author.name}</span>
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CalendarIcon />
          <FormattedDate date={pubDate} />
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CategoryIcon />
          {
            categories?.slice(0, 1).map((category) => (
              <a href={`/categories/${slugify(category)}`} class="hover:text-primary mr-2 font-medium capitalize">
                {category}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="prose-md prose prose-green min-w-full md:prose-lg">
      <slot />
    </div>
    <div class="mt-8">
      {
        tags?.map((tag) => (
          <a
            href={`/tags/${slugify(tag)}`}
            class="mb-2 mr-2 inline-block rounded-full bg-zinc-200 px-3 py-1 text-sm font-semibold capitalize text-zinc-700 dark:bg-zinc-900 dark:text-zinc-400"
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </article>
</Base>
