---
import { Image } from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";
import config from "@config/config.json";
import { slugify } from "@utils/slug";

const { posts } = Astro.props;

type PostType = {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    description: string;
    heroImage: string;
    pubDate: Date;
    categories: string[];
    tags: string[];
    autors: string[];
  };
};
---

<div
  class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {
    posts?.slice(0, config.site.pageSize).map((post: PostType) => (
      <article class="flex w-full flex-col items-start">
        <div class="rounded-lg block overflow-hidden mb-4">
          {post.data.heroImage && (
            <figure class="w-auto h-auto md:h-[150px] object-cover">
              <Image
                class="transition duration-300 ease-in-out hover:scale-110 cursor-progress"
                src={post.data.heroImage}
                alt={post.data.title}
                width={960}
                height={480}
                decoding="async"
                loading="lazy"
              />
            </figure>
          )}
        </div>
        <div class="flex items-center gap-x-4 text-xs text-zinc-900 dark:text-white">
          <FormattedDate date={post.data.pubDate} />
          {post.data.categories.slice(0, 2).map((item) => (
            <a
              href={`/categories/${slugify(item)}`}
              class="capitalize text-md relative z-10 rounded-full bg-zinc-50 px-3 py-1.5 font-medium text-zinc-600 hover:bg-zinc-50 dark:bg-zinc-900 dark:text-zinc-400"
            >
              {item}
            </a>
          ))}
        </div>
        <div class="relative">
          <h2 class="mt-3 text-xl font-semibold leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
            <a href={`/blog/${post.slug}/`}>
              <span class="absolute inset-0" />
              {post.data.title}
            </a>
          </h2>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-zinc-600">
            {post.data.description}
          </p>
        </div>
      </article>
    ))
  }
</div>
